@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #5e454b !important;
}
.bg-success {
  background-color: #cee5d0 !important;
}
.bg-info {
  background-color: #f3f0d7 !important;
}
.bg-warning {
  background-color: #d8b384 !important;
}
.bg-danger {
  background-color: #5e454b !important;
}
.btn-primary {
  background-color: #5e454b;
  border-color: #5e454b;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #322528;
  border-color: #322528;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #322528 !important;
  border-color: #322528 !important;
}
.btn-secondary {
  background-color: #3fab98;
  border-color: #3fab98;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #2a7366;
  border-color: #2a7366;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2a7366 !important;
  border-color: #2a7366 !important;
}
.btn-info {
  background-color: #f3f0d7;
  border-color: #f3f0d7;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #e1da9c;
  border-color: #e1da9c;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e1da9c !important;
  border-color: #e1da9c !important;
}
.btn-success {
  background-color: #cee5d0;
  border-color: #cee5d0;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #9ccaa0;
  border-color: #9ccaa0;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #9ccaa0 !important;
  border-color: #9ccaa0 !important;
}
.btn-warning {
  background-color: #d8b384;
  border-color: #d8b384;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #c68f4a;
  border-color: #c68f4a;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c68f4a !important;
  border-color: #c68f4a !important;
}
.btn-danger {
  background-color: #5e454b;
  border-color: #5e454b;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #322528;
  border-color: #322528;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #322528 !important;
  border-color: #322528 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #231a1c;
  color: #231a1c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #5e454b;
  border-color: #5e454b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5e454b !important;
  border-color: #5e454b !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #246056;
  color: #246056;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #3fab98;
  border-color: #3fab98;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3fab98 !important;
  border-color: #3fab98 !important;
}
.btn-info-outline {
  background: none;
  border-color: #dbd389;
  color: #dbd389;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f3f0d7;
  border-color: #f3f0d7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f3f0d7 !important;
  border-color: #f3f0d7 !important;
}
.btn-success-outline {
  background: none;
  border-color: #8bc290;
  color: #8bc290;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #cee5d0;
  border-color: #cee5d0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #cee5d0 !important;
  border-color: #cee5d0 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #bb833b;
  color: #bb833b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #d8b384;
  border-color: #d8b384;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d8b384 !important;
  border-color: #d8b384 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #231a1c;
  color: #231a1c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #5e454b;
  border-color: #5e454b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #5e454b !important;
  border-color: #5e454b !important;
}
.text-primary {
  color: #5e454b !important;
}
.text-success {
  color: #cee5d0 !important;
}
.text-info {
  color: #f3f0d7 !important;
}
.text-warning {
  color: #d8b384 !important;
}
.text-danger {
  color: #5e454b !important;
}
.alert-success {
  background-color: #cee5d0;
}
.alert-info {
  background-color: #f3f0d7;
}
.alert-warning {
  background-color: #d8b384;
}
.alert-danger {
  background-color: #5e454b;
}
.btn-social {
  border-color: #5e454b;
}
.btn-social:hover {
  background: #5e454b;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #5e454b;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #5e454b;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #5e454b;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #5e454b;
}
.lead a,
.lead a:hover {
  color: #5e454b;
}
.lead blockquote {
  border-color: #5e454b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a28088;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a28088;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #5e454b;
}
#header2-2q H3 {
  color: #5e454b;
}
#header2-2q P {
  color: #3fab9b;
}
#header2-2q .mbr-section-title P {
  font-size: 46px;
  text-align: right;
}
#header2-2q .mbr-section-text {
  text-align: center;
  font-size: 20px;
}
#header2-2q .mbr-section-text I {
  font-size: 22px;
}
#features7-20 .card-subtitle {
  color: #bcbcbc;
}
#features7-20 .iconbox {
  background-color: #5e454b;
  border-color: #5e454b;
}
#header3-27 .mbr-section-title,
#header3-27 .mbr-section-subtitle {
  text-align: center;
}
#header3-27 H3 {
  color: #5e454b;
}
#msg-box8-2p .mbr-section-title,
#msg-box8-2p p {
  color: #fff;
}
#content2-2m P {
  font-family: 'Montserrat', sans-serif;
}
#content2-2m DIV {
  font-family: 'Montserrat', sans-serif;
}
#features1-2i .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #5e454b;
}
#pricing-table2-2a .mbr-plan-header,
#pricing-table2-2a .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-2a ul,
#pricing-table2-2a .mbr-plan-title,
#pricing-table2-2a .mbr-price-value,
#pricing-table2-2a .mbr-price-figure,
#pricing-table2-2a .mbr-price-term {
  color: #28262b;
}
#pricing-table2-2a .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-2a .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-2a .mbr-section__container .mbr-section-subtitle {
  color: #3fab98;
}
#form1-1m .form-control-label {
  color: #232323;
}
#form1-1m SMALL {
  color: #3fab98;
}
#social-buttons2-2f .mbr-section-title,
#social-buttons2-2f .btn-social {
  color: #232323;
}
#social-buttons2-2f .mbr-section-title {
  color: #000000;
}
#ext_menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-15 .navbar-caption {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 22px;
}
#ext_menu-15 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-15 .close-icon::before,
#ext_menu-15 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-15 .link,
#ext_menu-15 .dropdown-item {
  color: #ffffff;
}
#ext_menu-15 .link {
  font-size: 1.4rem;
}
#ext_menu-15 .dropdown-item,
#ext_menu-15 .nav-dropdown-sm .link {
  font-size: 1.516rem;
}
#ext_menu-15 .link:hover,
#ext_menu-15 .dropdown-item:hover,
#ext_menu-15 .link:focus,
#ext_menu-15 .dropdown-item:focus {
  color: #5e454b;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-menu {
  background: #412f34;
}
#ext_menu-15 .nav-dropdown-sm .link:focus,
#ext_menu-15 .nav-dropdown-sm .link:hover,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #553f44!important;
}
#ext_menu-15 .navbar,
#ext_menu-15 .nav-dropdown-sm,
#ext_menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #5e454b;
}
#ext_menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-15 .bg-color.transparent.opened .link:hover,
#ext_menu-15 .bg-color.transparent.opened .link:focus {
  color: #5e454b;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-item[aria-expanded="true"] {
  color: #5e454b!important;
}
#ext_menu-15 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#contacts1-1o P {
  color: #3fab98;
  font-family: 'Oswald', sans-serif;
}
